*{
    margin: 0;
    padding: 0;
    background: rgb(167, 164, 164);
}
#searchterm,.fa
{   
    background: white;
    color: black;
}
h2{
    color: black;
    position: absolute;
    top: 80;
    left: 300;
}

i
{
 padding: 12px;
 cursor: pointer;
}
#searchterm{
    margin-top: 110px;
    margin-left: 200px;
    height: 40px;
    width: 50%;
}
#results
{
    margin-top: 100px;
}